<mat-card fxFill>

  <div fxLayout="column" fxFill>

    <form class="example-form">
      <mat-form-field>
        <input matInput type="text" placeholder="Actor Name"
               [formControl]="actorSearchControl"
               [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption
                          (optionSelected)="onOptionSelected($event)"
                          [displayWith]="displayActorOption"
        >
          <mat-option *ngFor="let actor of actorSuggestions | async" [value]="actor">
            {{ actor.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>


    <div fxLayout="column">

      <mat-list>

        <mat-list-item class="clickable" *ngFor="let actor of selectedActors | async">

          <button mat-list-icon mat-icon-button (click)="removeSelected(actor)">
            <mat-icon color="primary">close</mat-icon>
          </button>

          <h4 mat-line class="mat-body-2">{{actor.name}}</h4>
          <span mat-line class="mat-body-1">{{actor?.birthYear}}</span>


        </mat-list-item>
      </mat-list>


    </div>

  </div>


</mat-card>
