<div fxLayout="row" class="padding" fxLayoutGap="10px" fxFill>

  <div fxLayout="column" *ngIf="hasData">

    <app-advanced-bubble-chart fxFlex
                               [view]="bubbleChartSize"
                               [results]="data"
                               [xAxis]="true"
                               [yAxis]="true"
                               [autoScale]="false"
                               [legend]="true"
                               [legendTitle]="'Actors'"
                               [tooltipDisabled]="true"
                               [xAxisLabel]="'Year'"
                               [yAxisLabel]="'Rating'"
                               [showXAxisLabel]="true"
                               [showYAxisLabel]="true"
                               [yScaleMin]="0.0"
                               [yScaleMax]="1.0"

                               (select)="onChartSelect($event)"
    >
    </app-advanced-bubble-chart>

  </div>

  <button mat-fab class="top-right" (click)="showActorSelection()">
    <mat-icon>search</mat-icon>
  </button>

</div>


<!--
<ngx-charts-line-chart
  [view]="view"
  class="chart-container"
  [scheme]="colorScheme"
  [schemeType]="schemeType"
  [results]="dateDataWithOrWithoutRange"
  [animations]="animations"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  (legendLabelClick)="onLegendLabelClick($event)"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  [xScaleMin]="xScaleMin"
  [xScaleMax]="xScaleMax"
  [yScaleMin]="yScaleMin"
  [yScaleMax]="yScaleMax"
  [timeline]="timeline"
  [showGridLines]="showGridLines"
  [curve]="curve"
  [rangeFillOpacity]="rangeFillOpacity"
  [roundDomains]="roundDomains"
  [tooltipDisabled]="tooltipDisabled"
  (select)="select($event)">
</ngx-charts-line-chart>
-->
