<div fxLayout="column" fxFlexFill>

  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-10">
      <span></span>
      <button mat-fab (click)="addMovie($event)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="column">

    <div class="scrollable">
      <mat-nav-list>
        <h3 matSubheader class="noselect">Movies</h3>

        <a mat-list-item
           *ngFor="let movie of movieData.rows"
           (click)="openDetail(movie)">

          <mat-icon class="noselect" color="primary" mat-list-icon>local_movies</mat-icon>
          <h4 matLine class="noselect"> {{movie.name}} </h4>
          <p matLine>
            <span class="noselect">{{movie.year}}</span>
          </p>
        </a>
      </mat-nav-list>
    </div>

  </div>
</div>

