
html, body {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
}

body {
  display: block;
  margin: 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  position: fixed;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.mat-toolbar {
  font-weight: 300 !important;
}

.full-width {
  width: 100%;
}

.green {
  background-color: green;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

/******************************
Layout
*******************************/

.padding-small {
  padding: 10px;
}

.padding-medium {
  padding: 20px;
}

.padding-large {
  padding: 30px;
}

.padding-10 {
  padding: 10px;
}

.padding-30 {
  padding: 30px;
}

/******************************
Mat Icons
*******************************/

.material-icons.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}

.material-icons.md-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.material-icons.md-36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}

.material-icons.md-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

/******************************
Material tab fix
*******************************/

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/******************************
Common classes
*******************************/


app-root {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.content {
  padding: 10px;
}

/*
 * The Light Font (works nice on roboto)
 */
.light {
  font-weight: 300 !important;
}

.medium {
  font-weight: 500 !important;
}

/******************************
Clickable row
*******************************/

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

/******************************
Mat Sidenav
*******************************/

// Avoid side-nav growing bigger than screen size
mat-sidenav {
  max-width: 100vw;
}

/******************************
Fab Buttons
*******************************/

.mat-fab.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}

.mat-fab.bottom-right-second {
  position: fixed;
  bottom: 86px;
  right: 20px;
  z-index: 50;
}

/******************************
Icons
*******************************/

.mat-icon.mat-icon.small {
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}


.elder-form-field-large {
  width: 240px;
}
