@use '@angular/material' as mat;
@use '@elderbyte/ngx-starter' as elder;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat.core();


@mixin app-core-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .link {
    color: mat.get-color-from-palette($accent);
  }
}

@mixin app-full-theme($theme) {
  @include mat.all-component-themes($theme);
  @include elder.starter-theme($theme);
  @include elder.starter-scrollbar-theme($theme);
  @include app-core-theme($theme);
}

// Light Elder Theme
$elder-light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(elder.$elder-blue),
    accent: mat.define-palette(elder.$elder-gold),
    warn: mat.define-palette(mat.$red-palette, 900),
  )
));

.elder-light-theme {
  @include app-full-theme($elder-light-theme);
}

$elder-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: mat.define-palette(elder.$elder-gold),
        accent: mat.define-palette(elder.$elder-gold, A200), // , A100 A200 A400
        warn: mat.define-palette(mat.$red-palette, A200),
      )
    )
);

.elder-dark-theme {
  @include app-full-theme($elder-dark-theme);
}
