<div class="movieSheet">



  <h3 class="mat-display-1">{{movie.name}}</h3>
  <h4>{{movie.year}}</h4>

  <ngx-charts-gauge
    [view]="view"
    [results]="ratingData"
    [units]="'IMBD Rating'"
    [max]=10.0
    [min]="0.0"
    >

  </ngx-charts-gauge>


</div>


<!--
<ngx-charts-gauge
        *ngIf="chartType === 'gauge'"
        class="chart-container"
        [view]="view"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [results]="single"
        [animations]="animations"
        [textValue]="gaugeTextValue"
        [scheme]="colorScheme"
        [min]="gaugeMin"
        [max]="gaugeMax"
        [units]="gaugeUnits"
        [angleSpan]="gaugeAngleSpan"
        [startAngle]="gaugeStartAngle"
        [showAxis]="gaugeShowAxis"
        [bigSegments]="gaugeLargeSegments"
        [smallSegments]="gaugeSmallSegments"
        [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
        [tooltipDisabled]="tooltipDisabled"
        (select)="select($event)"
        (legendLabelClick)="onLegendLabelClick($event)">
      </ngx-charts-gauge>
-->
