.movieSheet {
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

}

.movieSheet h3 {
  color: #272627;
  font-size: 22px;
  margin-bottom: 10px;

}

.movieSheet h4 {
  color: #353335;
  font-size: 17px;
  font-style: oblique;
  text-align: center;
  margin: auto;
}
