<mat-sidenav-container style="height:100%;">

  <!-- Left Side Nav -->
  <mat-sidenav mode="over" class="side-navigation"
               [opened]="navigationOpen" (closed)="closeSideNav()">

    <mat-toolbar color="primary" class="light">

      <mat-toolbar-row>
        <div fxLayoutAlign="center center" style="width: 100%">
          <h1 class="noselect" style="font-size: 30px">Actorem</h1>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayoutAlign="center center">

        <img src="assets/images/logo_white.png" width="88"/>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayoutAlign="center center">
        <span><small class="noselect"><strong>Welcome</strong></small></span>
      </mat-toolbar-row>


    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let item of menuItems" routerLink="{{item.link}}"
                     routerLinkActive="active-nav">
        <mat-icon mat-list-icon class="noselect nav-icon">{{item.icon}}</mat-icon>
        <span style="width: 15px"></span>
        <a class="noselect">{{ item.name | translate}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Side Nav Content -->
  <mat-sidenav-content>

    <!-- Main Toolbar -->
    <div class="dark-theme" fxLayout="column">
      <mat-toolbar fxLayout="row" fxLayoutAlign="start center"
                   color="primary" class="header-toolbar mat-app-background noselect light">

        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>

        <toolbar-title [hidden]="searchOpen"></toolbar-title>

        <!-- Global Search -->
        <global-search fxFlex [hideWhenDisabled]="true"
                       (onSearchCollapsed)="onSearchOpen($event)"></global-search>


        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <button mat-menu-item routerLink="app/todo">
            <mat-icon> lock</mat-icon>
            Test Menu Entry
          </button>

        </mat-menu>

      </mat-toolbar>
    </div>

    <!-- Main Content -->
    <!-- id="scroll-container" class="scrollable" -->
    <div class="under-toolbar">
      <router-outlet></router-outlet>
      <app-toast></app-toast>
    </div>

  </mat-sidenav-content>


  <!-- Right Side Detial -->
  <mat-sidenav fxLayout="column" class="side-content" position="end"
               mode="over" [opened]="sideContentOpen" (closed)="closeSideContent()">
    <router-outlet name="side"></router-outlet>
  </mat-sidenav>


</mat-sidenav-container>



