$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;

$toolbar-height: 64px !default;
$toolbar-medium-tall-height: 88px !default;
$toolbar-tall-height: 128px !default;

// Mobile portrait heights
$toolbar-height-mobile-portrait: 56px !default;

// Mobile landscape heights
$toolbar-height-mobile-landscape: 48px !default;

/******************************
Navigation
*******************************/

.active-nav {
  background-color: #cbcbcb;
}

.nav-icon {
  color: gray
}

/******************************
Side Nav
*******************************/

mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-navigation {
  width: 250px;
}

.side-nav-button-title {
  line-height: 20px;
}

.side-nav-button-subtitle {
  font-style: normal;
  font-size: 12px;
}

.title-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

/******************************
Side Content
*******************************/

.side-content {
  min-width: 350px;
}

/******************************
Main Content
*******************************/

.under-toolbar {
  position: fixed;
  width: 100%;

  top: 64px;
  height: calc(100% - 64px);

  // Handle mobile portrait
  @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: portrait) {
    top: $toolbar-height-mobile-portrait;
    height: calc(100% - #{$toolbar-height-mobile-portrait});
  }

  // Handle mobile landscape
  @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: landscape) {
    top: $toolbar-height-mobile-landscape;
    height: calc(100% - #{$toolbar-height-mobile-landscape});
  }
}





