<div fxLayout="column" fxFlexFill>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-10">
      <span></span>
      <button mat-fab (click)="addActor($event)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div fxLayout="column">

    <div class="scrollable">
      <mat-nav-list>
        <h3 matSubheader class="noselect">Actors</h3>

        <a mat-list-item
           *ngFor="let actor of actorData.rows"
           (click)="openDetail(actor)">

          <mat-icon class="noselect" color="primary" mat-list-icon>perm_identity</mat-icon>
          <h4 matLine class="noselect"> {{actor.name}} </h4>
          <p matLine>
            <span class="noselect">{{actor.birthYear}}</span>
          </p>
        </a>
      </mat-nav-list>
    </div>

  </div>

</div>


