<mat-toolbar color="primary">
  <p *ngIf="!isModeUpdate">New Movie</p>
  <p *ngIf="isModeUpdate">Movie Detail</p>

  <span fxFlex></span>

  <button mat-icon-button (click)="delete($event)">
    <mat-icon>delete</mat-icon>
  </button>

</mat-toolbar>


<form #f="ngForm" fxLayout="column" (ngSubmit)="save($event)">

  <!-- Main -->

  <section fxLayout="column" class="padding">
    <mat-form-field class="full-width">
      <input matInput type="text" name="name" [(ngModel)]="movie.name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" name="release year" [(ngModel)]="movie.year"
             placeholder="release year" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" name="cast" [(ngModel)]="movie.actors" placeholder="cast"
             required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" name="imbd rating" [(ngModel)]="movie.rating.value"
             placeholder="rating" required>
    </mat-form-field>


  </section>

  <span fxFlex></span>

  <button type="submit" mat-button color="primary" [disabled]="f.invalid">
    Save
  </button>


</form>
