<mat-toolbar color="primary">
  <p *ngIf="!isModeUpdate">New Actor</p>
  <p *ngIf="isModeUpdate">Actor Detail</p>

  <span fxFlex></span>

  <button mat-icon-button (click)="delete($event)">
    <mat-icon>delete</mat-icon>
  </button>

</mat-toolbar>


<form #f="ngForm" fxLayout="column" (ngSubmit)="save($event)">

  <!-- Main -->

  <section fxLayout="column" class="padding">

    <mat-form-field class="full-width">
      <input matInput type="text" name="name" [(ngModel)]="actor.name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" name="birthYear" [(ngModel)]="actor.birthYear"
             placeholder="Birth Year">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" name="deathYear" [(ngModel)]="actor.deathYear"
             placeholder="Death Year">
    </mat-form-field>

  </section>

  <span fxFlex></span>

  <button type="submit" mat-button color="primary" [disabled]="f.invalid">
    Save
  </button>


</form>
